{% extends 'base.html.twig' %} 
{% block title %}Medi'services - S'incrire{% endblock %} 
{% block body %}
<main role="main" class="inner cover">
    <div class="box">
        <h2 class="cover-heading text-center" id="test">Se créer un compte</h2>
        {{ form_start(form)}}
            {% if form_errors(form.username) %}
                <div class="form-error">
                    <span class="badge badge-danger">Erreur</span>
                    <small>{{form_errors(form.username) }}</small>
                </div>
            {% endif %}
        <div class="inputBox">
            {{form_widget(form.username, {'attr': {'placeholder' : 'Nom d\'utilisateur', 'autofocus': 'autofocus'}})}}
            <label for="registration_username"><i class="fa fa-user"></i></label>
        </div>
            {% if form_errors(form.email) %}
                <div class="form-error">
                    <span class="badge badge-danger">Erreur</span>
                    <small>{{form_errors(form.email)}}</small>
                </div>
            {% endif %}
        <div class="inputBox">
            {{form_widget(form.email, {'attr': {'placeholder' : 'Email'}})}}
            <label for="registration_email"><i class="fa fa-at"></i></label>
        </div>
            {% if form_errors(form.password) %}
                <div class="form-error">
                    <span class="badge badge-danger">Erreur</span>
                   <small> {{form_errors(form.password) }} </small>
                </div>
            {% endif %}
        <div class="inputBox">
            {{form_widget(form.password, {'attr': {'placeholder' : 'Mot de passe'}})}}
            <label for="registration_password"><i class="fa fa-lock"></i></label>
        </div>
            {% if form_errors(form.confirm_password) %}
                <div class="form-error">
                    <span class="badge badge-danger">Erreur</span>
                   <small> {{form_errors(form.confirm_password) }} </small>
                </div>
            {% endif %}
        <div class="inputBox">
            {{form_widget(form.confirm_password, {'attr': {'placeholder' : 'Mot de passe'}})}}
            <label for="registration_confirm_password"><i class="fa fa-check-circle"></i></label>
        </div>
        <button type="submit" class="btn btn-success mt-4">S'enregistrer</button>
        {{form_end(form)}}
    </div>
</main>
{% endblock %}
