{% extends 'adminBase.html.twig' %} {% block body %}
<div class="container-fluid bandeau bg-success text-dark">
    <div class="container">
        <div class="row">
            <h3 class="col-md-6 d-flex justify-content-md-start"><i class="fa fa-wheelchair" aria-hidden="true"></i> Matériaux</h3>
            <form class="col-md-6 form-inline d-flex justify-content-md-end" method='GET'>
                {% if send and search is defined %}
                <input class="form-control form-search" type="search" name="search" placeholder="N° de serie" value="{{search}}" aria-label="Search"> {% else %}
                <input class="form-control form-search" type="search" name="search" placeholder="N° de serie" aria-label="Search"> {% endif %}
                <button class="btn btn-success btn-search text-dark" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row  my-4">
        {% for message in app.flashes('success') %}
        <div class="col-md-12 alert alert-success alert-dismissible" id="successMessage">
            <button type="button" class="close" data-dismiss="alert">&times;</button> {{message}}
        </div>
        {% endfor %}
    </div>
    <div class="card users-card col-md-12 mt-5 px-0">
        <div class="card-header bg-success text-dark">
            <div class="row text-center">
                <h2 class="col-md-6 d-flex justify-content-md-start">Gérer les matériaux</h2>
                <form class="col-md-6 form-inline d-flex justify-content-md-end" method="GET">
                    <div class="form-group">
                        <select class="form-control select-list" name="category" id="category">
                            {% for category in categories %}
                                <option value="{{category.id}}"{% if cat == category.id %}selected = "selected"{% endif %}>{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-success btn-search text-dark" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>

        <div class="card-body card-color">
            {% if send and search is not null %} {% if materiaux | length > 0 %}
            <h4 class="alert alert-success">{{materiaux | length}} materi{% if materiaux | length > 1 %}aux{% else %}el{% endif %} trouvé{% if materiaux | length > 1 %}s{% endif %} pour la recherche "{{search}}"</h4>
            {% else %}
            <h4 class="alert alert-danger">Aucun résultat pour la recherche "{{search}}"</h4>
            {% endif %} {% endif %}
            <div class="card-text table-responsive">
                <table id="dtBasicExample" class="table table-dark table-striped" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th class="th-sm">#</th>
                            <th class="th-sm">Categorie
                            </th>
                            <th class="th-sm">N° serie
                            </th>
                            <th class="th-sm">Référence
                            </th>
                            <th class="th-sm">Description
                            </th>
                            <th class="th-sm">Status
                            </th>
                            {% if is_granted('ROLE_RESPONSABLE') or is_granted('ROLE_MAINTENANCE')%}
                            <th colspan="2" class="th-sm">Actions
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% set compteur = 0 %} {% for materiel in materiaux %}
                        <tr class="text-center h-100">
                            {% set compteur = compteur + 1 %}
                            <td class="align-middle">{{ compteur }}</td>
                            <td class="align-middle">{{materiel.category.name}}</td>
                            <td class="align-middle"><a href="{{path('show_one_materiel', {'id' : materiel.id})}}">{{materiel.serialNumber}}</a></td>
                            <td class="align-middle">{{materiel.reference}}</td>
                            <td class="align-middle">{{materiel.description | slice(0, 20)}}</td>
                            <td class="align-middle">
                                {% if materiel.status == 'Disponible' %}
                                <span class="badge badge-success">{{materiel.status}}</span> {% elseif materiel.status == 'En prêt' %}
                                <span class="badge badge-danger">{{materiel.status}}</span> {% else %}
                                <span class="badge badge-primary">{{materiel.status}}</span> {% endif %}
                            </td>
                            {% if is_granted('ROLE_RESPONSABLE') or is_granted('ROLE_MAINTENANCE')%}
                            <td colspan="2"><a href="{{path('admin_edit_materiel', {'id' : materiel.id})}}" class="btn btn-success m-2">Modifier</a><a href="{{path('admin_delete_materiel', {'id' : materiel.id})}}" class="btn btn-danger m-2">Supprimer</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            {# display navigation #}
            <div class="navigation mt-3 d-flex justify-content-center">
                {{ knp_pagination_render(materiaux) }}
            </div>
        </div>
    </div>
    {% endblock %} {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        let alertMessage = $('#successMessage');


        setTimeout(function() {
            alertMessage.fadeOut();
        }, 3000)
    </script>
    {% endblock %}