<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{asset('css/admin.css')}}"> {% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{path('admin')}}">Medi'Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if current_menu is defined and current_menu == 'home' %} active {% endif %}">
                        <a class="nav-link" href="{{path('admin')}}">Tableau de bord</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Prêts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{path('admin_pret')}}">Prêts en cours</a>
                            <a class="dropdown-item" href="{{path('admin_historique_pret')}}">Historique des prêts</a>

                        </div>
                    </li>
                    {% if is_granted('ROLE_ADMIN')%}
                    <li class="nav-item {% if current_menu is defined and current_menu == 'users' %} active {% endif %}">
                        <a class="nav-link" href="{{path('admin_users')}}">Utilisateurs</a>
                    </li>
                    <li class="nav-item {% if current_menu is defined and current_menu == 'clients' %} active {% endif %}">
                        <a class="nav-link" href="{{path('client_index')}}">Clients</a>
                    </li>
                    {% endif %}
                    <li class="nav-item {% if current_menu is defined and current_menu == 'materiels' %} active {% endif %}">
                        <a class="nav-link" href="{{path('admin_materiel')}}">Materiaux</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Bienvenue, {{app.user.username}}
                        </a>
                        <div class="dropdown-menu">
                            {% if is_granted('ROLE_COMMERCIAL') %}
                            <a class="dropdown-item" href="{{path('admin_prets_mesPrets')}}"><i class="fa fa-globe" aria-hidden="true"></i>
                                Mes prets</a> {% endif %}
                            <a class="dropdown-item" href="{{path('admin_user_profile', {'username' : app.user.username})}}"><i class="fa fa-user-circle" aria-hidden="true"></i>
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-wrench" aria-hidden="true"></i>
                                Reglages</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_logout')}}"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                Deconnexion</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </main>
    <!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
    <script src='http://code.jquery.com/jquery.js'></script>
    {% block javascripts %} {% endblock %}
</body>

</html>